#p1:hover,#p2:hover,#p3:hover,#p4:hover,#p5:hover,#p6:hover,#p7:hover,#p8:hover,#p9:hover,#p10:hover,#p11:hover,#p12:hover,
#p13:hover,#p14:hover,#p15:hover{
font-size: 72px;
transition:color 0s;
color: rgb(250, 7, 7);cursor: pointer;
}
#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9,#p10,#p11,#p12,#p13,#p14,#p15{
    position: absolute;
    font-size: 50px;color: aliceblue;   
    transition: all 0.5s,transform ;
    transform: rotateY;
}
#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9,#p10,#p11,#p12,#p13,#p14,#p15{
    margin-right: 0;font-weight: bolder;
    text-shadow: 4px 5px 0px 5px rgb(246, 153, 3);
}
#intro{
    position: absolute;top:20px;
    font-size: 40px;color: aliceblue;left:40px;z-index: 2;display: inline-block;
}
#p1{
    left:5px;
}#p2{
    left:50px;
}#p3{
    left:75px;
}#p4{
    left:90px;
}#p5{
    left:115px;
}#p6{
    left:140px;
}#p8{
    left:180px;
}#p9{
    left:225px;
}#p10{
    left:250px;
}#p11{
    left:310px;
}#p12{
    left:350px;
}#p13{
    left:375px;
}#p14{
    left:400px;
}#p15{
    left:427px;
}#p7{
  left:456px;
}
#box{
    border-top-right-radius:25%;
    border-bottom-left-radius:50%;
    border-width: 35px;
    border-color: rgb(138, 5, 5);
    border-style: groove hidden ridge; 
    position: absolute;
    margin-top:50px;top:130px;left:180px;
    display: inline-block;
    height:500px;width: 70%;
   background-image: url(https://st4.depositphotos.com/2399299/22617/i/600/depositphotos_226172730-stock-photo-red-texture-background-with-spotlight.jpg);
    background-size: 100% 500px;background-repeat: no-repeat;opacity: 0.7;
    /*box-shadow: -30px 20px 5px 10px rgb(255, 0, 0),30px 30px 0px 12px  black;
    transform: skew(60 deg);*/
}

#pic2{
    background-image: url(https://images.wallpaperscraft.com/image/single/red_black_abstract_496_1600x900.jpg);
   background-repeat: no-repeat;width:1240px;height: 770px;position: absolute;top:0;background-size: cover;
   display: inline-block;
}
#content{
    color:rgb(249, 233, 130);
    transition-timing-function: step-end;
    transition-duration: 2s;margin-top: 15%;margin-left: 8%;
    font-size: 35px;cursor: pointer;text-overflow: ellipsis;
    font-family:monospace;
}
#content:hover{
    font-size:40px ;
}
#pic{
    background-image: url(DP.jpg);
    height: 345px;width:250px;display: inline-block;
    margin-left:530px;
    position:absolute;
    margin-top: 10%;background-repeat: no-repeat;top:60px;
    background-size: cover;opacity: 1;
    border-top-left-radius: 50%;border-top-right-radius: 25%;
    border-bottom-left-radius:50% ;
}
.boxsp{
    width:1250px;
    height:470px;
    background-image: url(https://img.freepik.com/premium-photo/red-wall-rust-texture-background_582637-710.jpg);
    background-repeat:  no-repeat;
    position: absolute;z-index: 1;
    margin-top: 760px;
    background-size: 100% 500px;left: 0;margin-left: 0;opacity: 0.8;
}
#box1,#box2,#box3{
    height: 250px;
    width:300px;
    background-color: rgb(33, 19, 1);
    position:absolute;
    margin-top: 100px;left: 100px;z-index: 4;
    opacity: 0.8;
}#box2{
    left:455px;background-color: rgb(33, 19, 1);height: 255px; 
    
}
#box1{
  background-image: url(https://fjwp.s3.amazonaws.com/blog/wp-content/uploads/2019/08/02070937/skills-for-resume.png);
  background-size: contain;
}
#box3{
    left:810px;
}
#bt,#bt2,#bt3{
   transition:  width  1s,
   background 0.4s ,opacity 0s, color 0s;box-shadow: 5px 5px 5px 3px black;
   opacity: 0.9;overflow: hidden;
width: 190px;
transition: 
    all        1.2s,
    border     0.5s 0s,
    box-shadow 0.3s 0s;
  white-space: nowrap;
  text-indent: 23px;background: linear-gradient(white, rgb(248, 180, 80));
  border-radius: 10px;
  span{
    display: inline-block;
    font-weight: normal;
    opacity: 0.8;color: red;
  }
  &:hover {
    text-indent: 0;
    background:black; transform: translateY(20px);
    color: white;
    width: 430px;
    height:85px;
    border: 10px ridge red;border-radius: 20px;
    transition: 
    opacity 0.1s 0.5s,
    transform 0.4s 0s;
    box-shadow: 3px 3px 2px rgba(black, 0.15);
    font-size: xx-large;
    span {
      transform: translateX(0);
      opacity: 1;
    }
}
}
  #bt2,#bt3{
    background: linear-gradient(rgb(255, 136, 0), red);width: 145px;text-indent: 15px;
    span{
        color:white;
    }
  }
#bt3{
    height: 55px;text-indent: 4px;width: 158px;
}
#box1:hover,#box3:hover{
  transform:rotatey(360deg)translateX(30px);
    transition:transform 4s;
}
#box2:hover{
    transform:rotatey(720deg)translateX(30px);
    transition: transform 6s;
}
.equilizer {
  height: $max;
  width: $max;
  transform: rotate(180deg);
}

.bar {
  fill:rgb(94, 3, 3);
  width: 18px;
  animation: equalize 4s 4s infinite;
}

.bar:nth-child(1) { 
  animation-delay: -1.2s;
}

.bar:nth-child(2) { 
  animation-delay: -5s;
}

.bar:nth-child(3) { 
  animation-delay: -2.3s;
}
@keyframes equalize {
  0% {
    height: 45px;
  }
  4% {
    height: 30px;
  }
  8% {
    height: 45px;
  }
  12% {
    height: 35px;
  }
  16% {
    height: 40px;
  }
  20% {
    height: 45px;
  }
}
#bt4,#bt5,#bt6,#bt7,#bt8,#bt9,#bt10,#bt11,#bt12,#bt13{
    height: 80px;width: 80px;
    background-repeat: no-repeat;background-size: 65px 65px;z-index: 7;
    background-color: rgb(33, 19, 1);border: none;
}
#bt4{
    background-image: url(https://www.svgrepo.com/show/376337/node-js.svg);margin-left:10%;margin-top: 3%;
}
#bt5{
    background-image: url(https://cdn.iconscout.com/icon/free/png-256/free-react-4-1175110.png);margin-top: 3%;
}
#bt6{
    background-image: url(https://www.freeiconspng.com/thumbs/html5-icon/html5-icon-1.png);margin-top: 3%;
}
#bt7{
    background-image: url(https://cdn-icons-png.flaticon.com/512/5968/5968242.png);margin-left:10%;
}
#bt8{
    background-image: url(https://cdn-icons-png.flaticon.com/512/5968/5968672.png);
}
#bt9{
    background-image: url(https://static-00.iconduck.com/assets.00/aws-icon-2048x2048-ptyrjxdo.png);
}
#bt10{
  background-image: url(https://www.pngall.com/wp-content/uploads/13/Mongodb-PNG-Image-HD.png);margin-left:10%;
}
#bt11{
  background-image: url(https://cdn0.iconfinder.com/data/icons/social-line-transparent/50/Github-line-transparent-512.png);
}
#bt12{
  background-image: url(https://static-00.iconduck.com/assets.00/figma-icon-2048x2048-lvgft610.png);
}
#work3,#work4,#work5{
  font-size: 45px;color: rgb(211, 8, 8);font-weight: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 3%;margin-top: 10%;display: inline;position: absolute;
}#work4{
  margin-top: 22%;margin-left: 26.5%
}#work5{
  margin-top: 21%;margin-left: 47%
}
svg{
  
  position: absolute;
  margin-top: 1230px;
  background-size: 100% 824px;
}
#work6{
  height:330px;
  width:350px;
  display: inline-block;
  position: absolute;
  background-image: url(https://lh3.googleusercontent.com/proxy/ki87ajbumPJV43J-gRhmNzm0KmLHaoqjiqU5pGSqZz5P7Q_YFaepAVAxHL0s8zy7vsYmP45EBuW9-RSvRRPhCNpa_T74ZVimvO4bFTbtFWEXCF9Zg6UrUxJ_l3FROAbUTLbGInaOviUhu10nkORQisVhvpQy6TiVa3nadGqRoKqzbbzIR6goRSHz2P5BXAvxY4cf5itEtAEkUMLukmr97KZc);
  background-size: 400px 330px;background-repeat: no-repeat;
  z-index: 8;opacity: 0.7;
margin-top: 1400px;margin-left: 68%;border-radius: 20%;
}
#work7{
  height:280px;
  width:100%;
  display: inline-block;
  position: absolute;left: 0;
  z-index: 8;
margin-top: 1760px;
background-image: url(https://i.pinimg.com/originals/23/b7/7f/23b77f45f97c97115acf92503d4dc9da.jpg);
background-size: cover;
}
.project{
height:450px;width: 100%;
position: absolute;left: 0;
background-image: url(https://as1.ftcdn.net/jpg/02/93/47/68/160_F_293476834_xO6ELuShSbj0iYtI3IJg0CjC7daRRU3F.jpg);
margin-top: 2040px;background-size:cover ;
}
.pro{
  color: rgb(232, 243, 253);
  font-size: 40px;
  font-weight: bolder;border: none;background-color: transparent;font-family: Copperplate, Papyrus, fantasy;
  position:absolute;
  top:35px;
}
#pro1,#pro2,#pro3,#pro4{
height: 280px;
width:22%;
position: absolute;margin-top:150px;margin-left: 0;left:10px;display: inline-block;background-size:275px 200px;
background-repeat: no-repeat;
border: groove 5px white;
}
#pro2{
  margin-left: 24%;
  background-image: url(https://www.interviewbit.com/blog/wp-content/uploads/2022/01/netflix-800x384.jpeg);
}
#pro1{
background-image: url(https://www.versionmuseum.com/images/websites/amazon-website/amazon-website%5E2019%5Ehomepage-august.jpg);
width: 100%;
margin-top: 50px;top:0;left: 10px;
}
#pro3{
  margin-left:48% ; 
  background-image: url(https://i.pinimg.com/originals/b3/35/02/b33502e465346ace2a7f1df203d851a3.jpg);
}
#pro4{
  margin-left:72% ;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqAqlgVSokBa68l0JFLgPxwLNCZ-HcGxck-A&usqp=CAU);
}
.flip-card {
  background-color: transparent;
  width: 22%;
  height: 280px;
  perspective: 1000px;margin-top: 100px;display:inline-block ;
}
.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 280px;
  text-align: center;display:inline-block;
}
.flip-card:hover {
  transform: rotateY(360deg);
  transition: transform 8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#pro1, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 280px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#pro1 {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
  background-color: #bb0606;
  color: white;
  transform: rotateY(180deg);
  margin-left:5px;
  display:inline-block ;margin-top: 50px;
}
.resume{
  height:450px;width: 100%;
  position: absolute;left: 0;
  background-image: url(https://elements-video-cover-images-0.imgix.net/files/2688af05-5227-4d5c-9d79-26300bbee2b8/inline_image_preview.jpg?auto=compress%2Cformat&fit=min&h=394&w=700&s=579cb757fe8b0fe92948261a3c49fb9a);
  margin-top: 90px;background-size:cover;
}
#cer,#cer1{
  height:250px;width: 25%;
  background-image: url(https://www.classcentral.com/report/wp-content/uploads/2023/01/labs-badge.png);
  margin-top: 70px;background-size:300px 250px;position: absolute;
  /*animation-duration: 3s;
  animation-name: slidein;*/
}
/*@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 30%;
  }
}*/
svg{
  background-image: url(https://static.vecteezy.com/system/resources/previews/011/334/123/non_2x/dark-yellow-orange-glossy-abstract-background-vector.jpg);
}
#cer1{
  background-image: url(https://miro.medium.com/v2/resize:fit:900/1*Es6vu-xbAKMD0mJc0k-HLQ.png);
  margin-top: 215px;margin-left: 200px;
  height:230px;
}
#cer2{
margin-top: 20px;
margin-left: 700px;position: absolute;
font-size: 40px;font-weight: 30px;
background-color: transparent;border: none;
color:white;
font-family:  Copperplate, Papyrus, fantasy;
}
#cer3,a,#cer4{
  margin-top: 100px;
margin-left: 620px;position: absolute;
font-size: 30px;font-weight: 30px;
background-color: transparent;
color:white;
}
a{
  margin-top: 150px;margin-left: 130px;color: antiquewhite;
  font-size: 40px;
}
#pr1,#pr2,#pr3{
margin-top: 220px;color: white;margin-left: 75px;
font-size: x-large;
}
#pr1{
  margin-left:35px ;
}
.contact{
  height: 270px;width: 100%;
  background-image: url(https://wallpapers.com/images/hd/dark-texture-background-jkham6trni46wcnc.jpg);
  position:absolute;
  margin-top: 540px;
  background-repeat: no-repeat;
  background-size: cover;
}
#con{
  font-size: 40px;
  font-weight: bolder;
  color: aliceblue;margin-top: 20px;
  margin-left: 20px;;
}
#insta{
  background-image: url(https://www.kortegaard.co.uk/wp-content/uploads/2020/06/best-solutions-of-instagram-png-transparent-png-images-unique-white-instagram-logo-outline-of-white-instagram-logo-outline-copy.png);
}
#insta,#fb,#lnd{
  height:60px;
width: 60px;
background-size: contain;display: inline-block;
margin-left: 30px;position: absolute;
}
#fb{
  background-image: url(https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/facebook-app-round-white-icon.png);
margin-left: 450px;background-size: 50px 50px;
background-repeat: no-repeat;
margin-top: 70px;
}
#lnd{
  background-image: url(https://www.edigitalagency.com.au/wp-content/uploads/Linkedin-logo-white-png-icon-transparent.png);
margin-left: 880px;background-size: 43px 43px;
background-repeat: no-repeat;margin-top: 9px;
}
/*https://static.vecteezy.com/system/resources/previews/018/930/466/original/twitter-logo-twitter-icon-transparent-free-free-png.png*/
#con1,#con2,#con3{
  font-size: 30px;
  font-weight: bolder;
  color: aliceblue;margin-top: 10px;
  margin-left: 20px;;
}
#con2{
  margin-left: 520px;margin-top: 80px;text-decoration: none;font-weight: lighter;
}
#con1{
  margin-left:100px ;text-decoration: none;font-weight: lighter;
}
#con3{
  margin-left:950px ;text-decoration: none;font-weight: lighter;
}
#con1:hover,#con2:hover,#con3:hover{
  color: rgb(255, 0, 0);
  font-size: 35px;
}